### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.name
/ArraysAndStrings.png
/.idea/uiDesigner.xml
/src/AddSmallerElements.class
/src/ArrayLoop.class
/src/ArrayPractice.class
/src/arrayreverse.class
/src/averageFinding.class
/src/BothMinMax.class
/src/DataTypesPractice.class
/src/DifferenceBetweenIncresingAndDecresing.class
/src/dividedbyfirstnumber.class
/src/findBiggerThanNeighbors.class
/src/findingduplicates.class
/src/FindingDuplicatesNoVriables.class
/src/FindingMultiples.class
/src/findVowels.class
/src/FirstProgram.class
/src/GreaterThanNext.class
/src/If.class
/src/LoopPractice.class
/src/Main.class
/src/majorityelement.class
/src/MergeTwoSortedArray.class
/src/MidSum.class
/src/MinAndMax.class
/src/MinMaxResult.class
/src/movingZeroToRight.class
/src/NumberPyramid.class
/src/occurence.class
/src/OperatorsPractice.class
/src/PassByValuePassByReference.class
/src/practiceoperators.class
/src/primeornot.class
/src/Pyramid.class
/src/removeDuplicates.class
/src/ReverseArray.class
/src/SearchAnElement.class
/src/SecondMinMax.class
/src/SecondMinMaxResult.class
/src/soutpractice.class
/src/StringOfVowels.class
/src/StringPractice.class
/src/StringStartsWith.class
/src/SumOfTwoConsecutiveNumbers.class
/src/variablepractice.class
